<div class="alert alert-primary" role="alert">
    Están a una hora de entrar a una demo con su cliente más importante y se dan cuenta que un compañero no hizo el trabajo que prometió que iba a hacer. 
    Como responsables del proyecto, deciden hacerlo ustedes para no generar más roces con el cliente.
    Lo que tienen a disposición que les facilite el trabajo son las notas que le dejaron a su compañero y el código que él escribió.
</div>
<div class="alert alert-primary" role="alert">
    <ul>
        <li> Instalar bootstrap en el proyecto. </li>
        <li> Dado un usuario, Cuando hace clic dentro del nav-bar MeowFacts, Entonces es redirigido a /meow-facts. </li> 
        <li> Dado un usuario en /meow-facts, Cuando se aprieta el botón "Meow", Entonces se debe mostrar el meow-fact recibido abajo del botón Y se debe guardar localmente este fact para no perderlo inclusive si se cierra el navegador.</li>    
        <li> Dado que un usuario intenta acceder a la ruta /meow-facts, Entonces el sistema verifica si ya apareció el fact "A cat has ran for mayor of Mexico City in 2013" Si se detecta que ya salió el sistema no permetirá ingresar a la página. En caso contrario se podra ingresar normalmente.</li>
    </ul>
</div>

<div class="alert alert-danger" role="alert">
    <h1>RECUERDEN QUE DEBEN IMPLEMENTAR UNA SPA</h1>
</div>